*{
	box-sizing: border-box;
}
body{
	margin: 0; 
}
.header{
	background-color: #755330;
	padding: 5px;
	text-align: center;	
	color: black;
	text-transform: uppercase;
	height: 120px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: fantasy, apple chancery;
}
.topnav{
	overflow: hidden;
	background-color: #ac6730;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.topnav a{
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}
.topnav a:hover{
	background-color: #A9A9A9;
	color: white;
}
.search{
	margin-left: 671px;
	padding: 16px 10px;
	width: 21%;
	background: #f5deb3;
}
.button{
	position: relative;
	padding: 10px 15px;
	border: 2px solid #A9A9A9;
	background-color: #d2b48c;
	color: black;
	float: right;
	height: 51px;
	font-weight: bold;
}
.button:hover{
	background-color: #d2b48c;
	color: white;
}
.borobudur{
	background-color: #f5deb3;
	padding: 20px;
	padding-top: 10px;
	text-align: left;
	color: black;
	font-size: 23px;
	height: 790px;
	margin-top: 180px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
	width: 73%;
}
.pantai{
	background-color: #f5deb3;
	padding: 20px;
	text-align: left;
	color: black;
	height: 790px;
	margin-left: 10px;
	float: left;
	width: 73%;
	font-size: 23px;
	display: block;
}
.about{
	background-color: #d2b48c;
	padding: 40px;
	text-align: justify;
	display: block;
	height: 650px;
	font-size: 20px;
	margin-top: 180px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
	width: 25%;
}
.post{
	background-color: #d2b48c;
	padding: 30px;
	text-align: left;
	color: black;
	display: block;
	height: 500px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
	width: 25%;
	font-size: 20px;
}
.follow{
	background-color: #d2b48c;
	padding: 30px;
	color: black;
	height: 421px;
	display: block;
	margin-left: -29px;
	margin-top: 49px;
	margin-right: 17px;
	width: 122%;
	font-size: 20px;
}
.latarabout{
	background-color: #f5deb3;
	width: 100%;
	margin-top: 35px;
	height: 250px;
}
.imgabout{
	width: 70%;
	margin-top: 5px;
	margin-left: 41px;
}
.imgfollow{
	width: 10%;
	padding-top: 12px;
}
.isisalam{
	margin-top: 10px;
	color: black;
	text-transform: capitalize;
	font-size: 20px; 
}
.isi3{
	margin-top: 10px;
	color: black;
	font-size: 18px; 
}
.isi4{
	margin-top: 10px;
	color: black;
	font-size: 18px;
	text-align: right; 
}
.isi2{
	padding: 10px;
	color: black;
	text-align: justify;
	font-weight: 60px;
	font-size: 18px;
}
.imgpost{
	width: 50%;
	padding-top: 30px;
}
.footer{
	color: black;									
	background-color: #755330;
	text-align: center;	
	height: 80px;
	margin-top: 32px;
	width: 144%;
	margin-left: -29px;
	padding-top: 1px;
	font-family: monospace;
	display: block;
}
.footer:hover{
	background-color: #ac6730;
	color: black;
	bottom: 40px;
}
.link{
	color: black;
	text-decoration: none;
	font-size: 17px;
}
.link2{
	color: red;
	text-decoration: none;
}
.fixed-nav{		
 	overflow: hidden;				
 	position: fixed;				
 	top: 0;
 	width: 100%;					
 }

/*CSS Galeri*/
.galery{
	background-color: #755330;
	padding: 8px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	height: 90px;
}
.galery:hover{
	background-color:  #d2b48c;
	color: black;
	bottom: 40px;
}
.img3{
	width: 33.1%;
	height: 260px;
}

/*CSS Artikel*/
.artikel{
	background-color: #755330;
	padding: 8px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	height: 90px;
}
.artikel:hover{
	background-color:  #d2b48c;
	color: black;
	bottom: 40px;
}
.link7{
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
}
.img7{
	width: 55%;
}
.div{
	padding-bottom: 20px;
}
.div2{
	background-color: #f5deb3;
}
@media screen and (max-width:350px){
	.topnav a, .header, .title, .isi, .isi2,.isi3,.isi4{
		float: 0;
		width: 100%;
	}
}